<div class="row well form-group">
  <div class="col-md-4 text-center">
    <h1> Login </h1>
  </div>
  <div class="col-md-8">
    <%= form_for(:session, url: login_path) do |f| %>
      <%= f.label :email %>
      <%= f.text_field :email, class: "form-control" %>
      <%= f.label :password %>
      <%= f.password_field :password, class: "form-control" %><br>
      <%= f.submit "Login", class: "btn btn-primary" %>
      <%= link_to "Create Account", new_user_path, class: "btn btn-success col-md-offset-1" %>
    <% end %>
  </div>
</div>

<%= flash.now[:error] %>
<%= flash[:notice] %>
